a {
	color: royalblue;
	text-decoration: none;
	font-size: 2em;
}

#menu {
	float: left;
	padding: 10px;
	width: 15%;
}

#body {
	float: left;
	padding: 10px;
	width: 80%;
}

#footer {
	clear: both;
}

h1,h2,h3{
	color: #fff;
}

#wrapper{
	background-color: #000;
}